<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
  Icons
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="<%= is_active_controller_icono_titulo %>">
  <a class="menu_sb <%= is_active_controller_icono %>" href="#" data-toggle="collapse" data-target="#collapseIconos"
     aria-expanded="true" aria-controls="collapseIconos">
    <i class="fas fa-fw fa-folder"></i>
    <span>Iconos</span>
  </a>
  <div id="collapseIconos" class="opcion_sb <%= is_active_option_controller_icono %>"
       aria-labelledby="headingIconos" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Custom Iconos:</h6>
      <%= link_to font_awesomes_url, class: is_active_action("font_awesomes") do %>
        <i class="fas fa-tasks"></i>
        <span>FontAwesome</span>
      <% end %>
      <a class="collapse-item" href="login.html">Login</a>
      <a class="collapse-item" href="register.html">Register</a>
      <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
      <div class="collapse-divider"></div>
      <h6 class="collapse-header">Other Pages:</h6>
      <a class="collapse-item" href="404.html">404 Page</a>
      <a class="collapse-item" href="blank.html">Blank Page</a>
    </div>
  </div>
</li>